*
{
    margin: 0;
    padding: 0;
}
.video-background{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    
}
@media(min-aspect-ratio:16/9){
    .video-background{
        width: 100%;
        height: auto;
    }
}
header{
    background: rgba(46, 43, 43, 0.5);
    height:100vh;
   
}
.nav{
    background: rgba(0,0,0,.5);
    height:80px;
}
.logo{
    margin:10px 50px;
    height:60px
}

.menu{
    float: right;
    list-style:none;
    margin:20px;
}

.menu li{
    display: inline-block;
    margin: 10px 5px;
}

.menu li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    font-family:sans-serif;
    letter-spacing:2px;
    border-bottom: 1px solid #fff;
}
.menu li a:hover{
    background: rgb(231, 37, 37);
    border-bottom: 1px solid rgb(231, 37, 37);
    transition: .4s;
}
.msg {
    position:relative;
    text-align:center ;
    font-family:sans-serif;
    color: #fff;
    top: 60px;
    justify-content: center;
    height: 20%;
    align-items: center;
    margin:0em;
    
   
}
.msg h1{
    font-size:54px;
    margin:15px;
  
  
    
}

.btn{
  font-size:18px;
  color:#fff;
  letter-spacing:2px;
  padding: 0.5rem;
  text-decoration: none;
  font-family:'Segoe UI';
  font-weight: bold;
  
}

.boton1{
  background:  rgb(231, 37, 37);
  color: #fff;
}

.boton2{
  background:  rgb(231, 37, 37);
  color: #fff;
}
.boton1:hover{
  background: black;
  transition: .4s
}
.boton2:hover{
  background: black;
  transition: .4s;
}

#one{
    margin-top: 20px;
    margin-bottom: 30px;
    width:100%;
    
}

#two{
    margin-top: 20px;
    margin-bottom: 30px;
    width:100%;
}
.msg p{
    font-family: Arial;
    color: #fff;
    font-size: 18px;

}

#txtOffset{
    border-radius: 25px;
    padding: 5px;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    width: 115px;
    font-size: 13px
}

#mensaje1{
    border-radius: 25px;
    padding: 5px;
    justify-content: center;
    font-family: Helvetica, sans-serif;

}
footer {
    color: white;
    position: absolute;
    background: rgb(10, 10, 10);
    left: 0;
    bottom: -30px;
    height: 20px;
    width: 100%;
    padding: 5px 0;
    font-size: 11px;
    font-family: sans-serif;
    }
    